@model ImageServiceWeb.Models.ImageWebModel

@{
    ViewBag.Title = "ImageWeb";
}

<h2>Welcome To Image Web Application</h2>
<br />
@{ var status = "";
    if (Model.IsConnected)
    {
        status = "Start";
    }
    else
    {
        status = "Stop";
    }
}
<p style="font-size:150%;">Service Status: @status</p>
<br />
<p style="font-size:150%;">Current Number Of Photos: @Model.PhotosNum</p>
<br />
<table class="table" style="font-size:125%;">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            ID
        </th>
    </tr>
    @foreach (var item in Model.StudentsInformation)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
    </tr>
    }
</table>

